<link rel="stylesheet" type="text/css" href="/css/footer.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet" type="text/css">

<footer id="layout-footer">
    <div>
        <p>
            Let Strangers Talk!
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li><a href="https://www.instagram.com/piyushprajapati._/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/mrpiyushprajapati" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
                <li><a href="https://wa.me/+919582316191" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="https://www.linkedin.com/in/mrpiyushprajapati/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>