<link rel="stylesheet" type="text/css" href="/css/loginlogout.css">

  <div class="form-panel">
    <div class="signup">
      <form action="/contactsubmit" method="post">
        <h2>
          Contact Us
        </h2>
        <div class="field">
          <input type="name" name="name" placeholder="Enter name" required>
        </div>
        <div class="field">
          <input type="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="field">
            <input type="name" name="query" placeholder="Enter your query" required>
          </div>
        <input type="submit" placeholder="Submit">
      </form>
    </div>
  </div>