<link rel="stylesheet" type="text/css" href="/css/loginlogout.css">

  <div class="form-panel">
    <div class="signup">
      <form action="/users/create" method="post">
        <h2>
          Sign Up
        </h2>
        <div class="field">
          <input type="text" name="name" placeholder="Enter name" required>
        </div>
        <div class="field">
          <input type="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Enter Password" required>
        </div>
        <div class="field">
          <input type="password" name="confirm_password" placeholder="Confirm password" required>
        </div>
        <input type="submit" placeholder="Sign up">
      </form>
    </div>
  </div>