<link rel="stylesheet" type="text/css" href="/css/loginlogout.css">

  <div class="form-panel">
    <div class="signup">
      <form action="/users/create-session" method="post">
        <h2>
          Sign In
        </h2>
        <div class="field">
          <input type="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Enter Password" required>
        </div>
        <input type="submit" placeholder="Sign in">
      </form>
    </div>
  </div>