#layout-footer {
    position: fixed;
    bottom: 0;
    clear: both;
    width: 100vw;
    color: white;
    background: midnightblue;
    padding: 0.5vw;
    display: flex;
    justify-content: space-between; }
#layout-footer a {
  margin: 10px;
      color: white;
      text-decoration: none; }
#layout-footer .footer-nav ul {
      list-style: none; }
#layout-footer .footer-nav ul li {
        display: inline-block; }

#right{
  align-self: right;
  margin-right: 10px;
}
